PL/Connected Services/UsuarioReference/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Usuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2791/Usuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2791/Usuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2791/Usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:2791/Usuario.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:2791/Usuario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:2791/Usuario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_AddEF_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEF" />
  </wsdl:message>
  <wsdl:message name="IUsuario_AddEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEFResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UpdateEF_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEF" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UpdateEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEFResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_DeleteEF_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEF" />
  </wsdl:message>
  <wsdl:message name="IUsuario_DeleteEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEFResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetAllEF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEF" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetAllEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEFResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetByIdEF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdEF" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetByIdEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdEFResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario">
    <wsdl:operation name="AddEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/AddEF" message="tns:IUsuario_AddEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/AddEFResponse" message="tns:IUsuario_AddEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/UpdateEF" message="tns:IUsuario_UpdateEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/UpdateEFResponse" message="tns:IUsuario_UpdateEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/DeleteEF" message="tns:IUsuario_DeleteEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/DeleteEFResponse" message="tns:IUsuario_DeleteEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetAllEF" message="tns:IUsuario_GetAllEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetAllEFResponse" message="tns:IUsuario_GetAllEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetByIdEF" message="tns:IUsuario_GetByIdEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetByIdEFResponse" message="tns:IUsuario_GetByIdEF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuario" type="tns:IUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEF">
      <soap:operation soapAction="http://tempuri.org/IUsuario/AddEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <soap:operation soapAction="http://tempuri.org/IUsuario/UpdateEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEF">
      <soap:operation soapAction="http://tempuri.org/IUsuario/DeleteEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEF">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetAllEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdEF">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetByIdEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="BasicHttpBinding_IUsuario" binding="tns:BasicHttpBinding_IUsuario">
      <soap:address location="http://localhost:2791/Usuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>