PL/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2791/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
  <xs:element name="Saludar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaludarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaludarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Suma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero1" type="xs:int" />
        <xs:element minOccurs="0" name="Numero2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Resta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero1" type="xs:int" />
        <xs:element minOccurs="0" name="Numero2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multipicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero1" type="xs:int" />
        <xs:element minOccurs="0" name="Numero2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultipicacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero1" type="xs:int" />
        <xs:element minOccurs="0" name="Numero2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SL_WCF" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SL_WCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>